@use '../../../../public/styles/abstract/variables.scss' as *;
@use '../../../../public/styles/abstract/functions.scss' as *;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 24px;
}

.hl-1 {
    color: $color-high-1;
}

h4,
h5 {
    font-weight: 700;
}

h4,
li {
    margin-bottom: 16px;
}

table {
    margin-top: 16px;

    td {
        vertical-align: top;
        padding-bottom: 16px;
    }

    td:first-child {
        padding-right: 35px;
    }
}
