$color-base: #2a3647;
$color-high-1: #124658;
$color-high-2: #29abe2;
$color-high-3: #091931;
$color-bg-content: #f6f7f8;
$color-light-gray: #d1d1d1;

$color-nav: #e7e7e7;
$color-nav-high: #ffffff;
$color-nav-hover-bg: #2a3d59;
$color-nav-aktive-bg: #091931;

$color-popup: #cdcdcd;

$media-s: 320px;
$media-sm: 680px; // TODO

$height-header: 96px;
$height-footer: 80px;
