<div class="nav-wrapper">
    <div class="logo-nav">
        <img class="nav-logo" src="./assets/icons/favicon-light.svg" alt="logo" />

        <nav>
            <ul>
                <li class="summary-link">
                    <a routerLink=""><img src="./assets/icons/summary.svg" alt="" /> Summary</a>
                </li>
                <li>
                    <a routerLink=""><img src="./assets/icons/add-task.svg" alt="" /> Add Task</a>
                </li>
                <li>
                    <a routerLink=""><img src="./assets/icons/board.svg" alt="" /> Board</a>
                </li>
                <li>
                    <a routerLink=""><img src="./assets/icons/contact-calendar.svg" alt="" /> Contacts</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="legal-links">
        <a href="">Privacy Policy</a>
        <a href="">Legal notice</a>
    </div>
</div>
