<div class="nav-wrapper">
    <div class="logo-nav">
        <img class="logo" src="./assets/icons/favicon-light.svg" alt="logo" />

        <nav>
            <ul>
                <li>
                    <!-- TODO remove class "active" -->
                    <a routerLink="" routerLinkActive="active" class="active">
                        <img class="icon-default" src="./assets/icons/summary.svg" aria-hidden="true" />
                        <img class="icon-active" src="./assets/icons/summary-active.svg" aria-hidden="true" />
                        Summary
                    </a>
                </li>
                <li>
                    <a routerLink="" routerLinkActive="active">
                        <img class="icon-default" src="./assets/icons/add-task.svg" aria-hidden="true" />
                        <img class="icon-active" src="./assets/icons/add-task-active.svg" aria-hidden="true" />
                        Add Task
                    </a>
                </li>
                <li>
                    <a routerLink="" routerLinkActive="active">
                        <img class="icon-default" src="./assets/icons/board.svg" aria-hidden="true" />
                        <img class="icon-active" src="./assets/icons/board-active.svg" aria-hidden="true" />
                        Board
                    </a>
                </li>
                <li>
                    <a routerLink="" routerLinkActive="active">
                        <img class="icon-default" src="./assets/icons/contact-calendar.svg" aria-hidden="true" />
                        <img class="icon-active" src="./assets/icons/contact-calendar-active.svg" aria-hidden="true" />
                        Contacts
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="legal-links">
        <a href="">Privacy Policy</a>
        <a href="">Legal notice</a>
    </div>
</div>
