@use '../../elements/button-primary/button-primary.scss' as *;
@use '../../../../../public/styles/abstract/variables.scss' as *;
.wrapper {
    width: 400px;
    background-color: white;
    height: calc(100svh - 96px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.btn-container {
    color: red;
    flex-shrink: 0;
    margin-bottom: 20px;
    width: 100%;
}

.add-contact-btn {
    width: 100%;
    .btn-container {
        width: 100%;
    }
}

.user-item {
    margin: 20px;
    a {
        color: $color-high-2;
        font-size: 14px;
    }
    display: flex;
    flex-direction: row;
    gap: 30px;
    &-label {
        margin-left: 33px;
        margin-bottom: 20px;
        margin-top: 30px;
    }
}
hr {
    width: 95%;
}
.user-list {
    flex: 1;
    overflow-y: auto;
    margin-right: -18px;
    padding-right: 8px;
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #a8a8a8;
        border-radius: 4px;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.circle-placeholder {
    width: 35px;
    height: 35px;
    background-color: orange;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
}
