<div class="wrapper">
    <app-button-primary [typeStr]="'addContact'">Add new contact</app-button-primary>
    <div>
        @for (entry of groupedUsers(); track entry[0]) {
            <p>{{ entry[0] }}</p>
            <hr />
            @for (user of entry[1]; track user.id) {
                <div class="user-panel" [attr.id]="'user-' + user.id">
                    <h5>{{ user.name }}</h5>
                    <a [attr.href]="'mailto:' + user.email">{{ user.email }}</a>
                </div>
            }
        }
    </div>
</div>
