<div class="wrapper">
    <button (click)="startapi()">asdasd</button>
    <!-- <p>{{ dbService.users() | json }}</p> -->
    <div>
        @for (letterGroup of groupedUsers(); track $index) {
            @for (username of groupedUsers(); track username[1].length) {
                <p>{{ letterGroup[$index] }}</p>
                <p>{{ username[1][2] | json }}</p>
            }
        }
        <!-- @for (user of dbService.users(); track $index) {
            @if (user.name.startsWith('A')) {
                <p>{{ user.name }}</p>
            }
        } -->
    </div>
</div>
